// Header contacts
.contacts {
  display: flex;
  font-weight: 500;
  align-items: center;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link {
  transition: color var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contats__list {
  display: flex;

  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;

    gap: 12px;
  }
  @include desktop {
    gap: 30px;
    margin-left: auto;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.contacts__icon {
  fill: currentColor;

  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@include tablet {
  .contacts__phone {
    padding-bottom: 21px;
  }
  .contacts__mail {
    padding-top: 21px;
  }
}
@include desktop {
  .contacts__phone,
  .contacts__mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
//Footer contacts
.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  transition: color var(--transition-duration) var(--cubic);
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.address__list {
  margin-top: 8px;
  text-align: center;
  @include desktop {
    margin-top: 9px;
    text-align: left;
  }
}
.address__item:last-child {
  margin-top: 8px;
  @include desktop {
    margin-top: 9px;
  }
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--cubic);
}
