body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  padding-top: 80px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
