:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --btn-background-color: #188ce8;
  --logo-header-color: #000000;
  --icon-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}