.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  outline: transparent;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-icon {
  fill: var(--icon-color);
  transition: fill var(--transition-duration) var(--cubic);
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}
