.functions {
  padding-top: 0;
}
.functions__list {
  display: flex;
  gap: 30px;

  flex-basis: 270px;
}
.functions__item {
  position: relative;
}
.functions__description {
  position: absolute;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;

  color: var(--second-title-color);
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
