.header {
  background: var(--main-background-color);

  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  &__container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
}

.navigation__item .navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -2px;
    opacity: 0;
    transition: opacity var(--transition-duration) var(--cubic);
  }
  &:hover::after {
    opacity: 1;
  }
}

.navigation__list {
  display: flex;
  gap: 50px;
  align-items: center;
  & .navigation__link.current {
    color: var(--accent-color);
  }
}
.navigation__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current::after {
    opacity: 1;
  }
}
