.buttons__list {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

  margin-bottom: 40px;
  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
.portfolio__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  min-width: 73px;

  background: var(--third-background-color);
  border-radius: 4px;
  outline: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--second-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current__btn {
  color: var(--second-title-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  background: var(--main-background-color);
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__img {
  width: 100%;
  height: auto;
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 370px;
  }
}
.portfolio__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 0px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--cubic);
  overflow: auto;
  .portfolio__link:hover & {
    transform: translateY(0%);
  }
  .portfolio__link:focus & {
    transform: translateY(0%);
  }
}
.portfolio__link {
  display: flex;
  transition: box-shadow var(--transition-duration) var(--cubic),
    transform var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  flex-direction: column;
  height: 100%;
}

.portfolio__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
  flex-grow: 1;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
