.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list-item {
  background: var(--main-background-color);
  flex-basis: 370px;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 0px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--cubic);
  overflow: auto;
  .portfolio-link:hover & {
    transform: translateY(0%);
  }
  .portfolio-link:focus &t {
    transform: translateY(0%);
  }
}
.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--cubic),
    transform var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
