.portfolio-btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  min-width: 73px;

  background: var(--third-background-color);
  border-radius: 4px;
  outline: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--second-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current-btn {
  color: var(--second-title-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
