@import "./header";
@import "./hero";
@import "./speciality";
@import "./functions";
@import "./team";
@import "./clients";
@import "./footer";
@import "./footer-form";
@import "./modal";
@import "./portfolio-btns";
@import "./portfolio";
